<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace(命名空间)：映射文件的唯一标识 -->
<mapper namespace="zhuang.sun.ssm.mapper.CategoryMapper">


    <select id="findAllCategory" resultType="zhuang.sun.ssm.domain.Category">
        SELECT * FROM tab_category ORDER BY cid
    </select>
</mapper>